<%- title "About Scott Bartell" -%>

<section class="about">
  <header>
    <h2><%= link_to 'About Scott Bartell.', about_url %></h2>
    <p></p>
  </header>

  <a href="https://plus.google.com/u/0/109955571462751281352/" rel="external" id="portrait"><img src="https://lh6.googleusercontent.com/-EoCZX5Y4bzk/UE0ZbUU_mLI/AAAAAAAADn8/4tlU1--WDhI/w526-h525-p-k/IMG_0307.JPG" alt="Scott Bartell" /></a>
  <p>I am an entrepreneur, a Rails software engineer, and a marketer. I currently live in Atlanta, GA.</p>

  <p>I studied marketing at the <a href="http://buffalo.edu" rel="external">University at Buffalo</a>. Now I actively take classes on several open education resources including: <a href="http://www.udacity.com" rel="external nofollow">Udacity</a>, <a href="http://www.udemy.com/u/scottbartell/" rel="external nofollow">Udemy</a>, <a href="https://www.edx.org/" rel="external nofollow">Edx (BerkeleyX)</a> and <a href="https://www.coursera.org/" rel="external nofollow">Coursera</a>.</p>

  <p>I founded <a href="http://verifiedlocal.org" rel="external">Verified Local</a>, a web platform I created to help individuals improve their local community by making it easier to find and shop at locally owned establishments.</p>

  <p>I also created <a href="http://votersentiment.appspot.com" rel="external">Voter Sentiment</a>, a real-time graph of the average sentiment towards each of the 2012 presidential candidates.</p>

  <p><span class="crowdendowed">Now, I am a Co-Founder and the CTO of <a href="http://crowdendowed.com" rel="external">CrowdEndowed</a>, a crowdfunding incubator for startups.</span></p>

  <p>I love meeting new people. Please reach out to me by <%= mail_to 'me@scottbartell.com', 'sending me an email', :encode => 'hex' %>, or <a href='https://twitter.com/scottbartell' rel="me external">sending me a tweet</a> or <a href='https://linkedin.com/in/scottsbartell' rel="me external">connecting with me on LinkedIn</a>.</p>
  <p style="text-align:center;margin:2em 0 -1em"><%= follow_button(size: 'large') %></p>
</section>
