<%- title "Scott Bartell" -%>
<%- content_for(:head) do -%>
<meta name="description" content="Scott Bartell - entrepreneur, web developer, and marketer" />
<%- end -%>

<header id="home">
  <h1>Scott Bartell
  <span>Co-Founder and CTO of CrowdEndowed.</span>
  </h1>
</header>

<section class="home">
  <nav>
    <ul>
      <li><a href="/blog">Marketing Blog</a></li>
      <li><a href="http://code.scottbartell.com">Coding Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</section>