<%- title 'Music' -%>
<%- stylesheet 'music' -%>
<%- javascript 'music' -%>

<header class="music">
  <div id="waveform-container">
    <div id="waveform-fill"></div>
    <div id="waveform"></div>
  </div>
</header>

<section class="music">
  <div id="player"></div>
  <h3>New Home</h3>
  <div class="column left">
    <p>I wrote this song in February of 2009 in Edmond, Okalahoma. I had just bought my first house at 19 years old a few days before writing and recording this.</p>
    <p>I remember being so excited to finally be able to play in my own place. I wrote and recorded all of the parts in a couple of hours one evening. It was a fantastic night.</p>
    <p>This song is still one of my favorites because of it’s energy and rocking guitar part. It’s a lot more rock than most of my stuff. I think that’s why I’m such a big fan of this one.</p>
  </div>
</section>
